Implement HTTP client retry strategy

Currently, if an HTTP server hangs up a persistent connection before our client does the Connection object generates an error: "...: closing connection after recv returned no data on ready to read socket"

We should implement a retry process as per RFC2616 §8.1.4 and, if the server is HTTP 1.0 then the back-off strategy described in §8.2

The workaround is to call the request manager's IdleCleanup with a short time to ensure we're always closing connections before the server or to handle, e.g.,  UnexepctedHTTPResponse errors from the OData client at the application level. 
